.page {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color:  #000000;
  font-style: normal;
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
}