.header {
  max-width: 880px;
  max-height: 74px;
  width: 100%;
  margin: auto;
  padding: 0;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-height: 56px;
    padding-top: 28px;
  }
}